.contenedorLogo{
    padding: 1.5rem 0;
    background-color: #1A1D23;
}
.logo{
    display: block;
    margin: 0 auto;
    width: 90px;
    animation-name: rotacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotacion{
    from{
        transform: rotate(0deg);
    }
    to{
        transform:  rotate(360deg);
    }
}